/Programas/target/
/Programas/2_condicionalesBucles/condicionales/nbproject/private/
/Programas/2_condicionalesBucles/condicionales/build/
/Programas/3_clasesObjetos/poo/nbproject/private/
/Programas/3_clasesObjetos/poo/build/
/Programas/4_pooConceptos/pooPilares/nbproject/private/
/Programas/4_pooConceptos/pooPilares/build/
/Programas/5_javaPuro/Interfaces/nbproject/private/
/Programas/5_javaPuro/w_javaPuro/nbproject/private/
/Programas/5_javaPuro/w_javaPuro/build/
/Programas/6_archivos/x_archivos/nbproject/private/
/Programas/6_archivos/x_archivos/build/
/Ejercicios/Codigos chidoris/clase-24-adivina-el-numero-Jhonathan-Pizarra-master/GUINumeroAleatorio/build/
/Ejercicios/Codigos chidoris/clase-24-adivina-el-numero-Jhonathan-Pizarra-master/GUINumeroAleatorio/nbproject/private/
/Ejercicios/Codigos chidoris/1_AdivinaNumero/GUINumeroAleatorio/build/
/Ejercicios/Codigos chidoris/1_AdivinaNumero/GUINumeroAleatorio/nbproject/private/
/Ejercicios/Codigos chidoris/GUIEmpleados2/build/
/Ejercicios/Codigos chidoris/GUIEmpleados2/nbproject/private/
/Ejercicios/Codigos chidoris/2_Empleados/build/
/Ejercicios/Codigos chidoris/2_Empleados/nbproject/private/
/Ejercicios/Codigos chidoris/GUIMatriculaEstudiantes2/build/
/Ejercicios/Codigos chidoris/GUIMatriculaEstudiantes2/nbproject/private/
/Ejercicios/Codigos chidoris/3_MatriculaEstudiantes/build/
/Ejercicios/Codigos chidoris/3_MatriculaEstudiantes/nbproject/private/
/Ejercicios/Codigos chidoris/GUIs/1_AdivinaNumero/GUINumeroAleatorio/build/
/Ejercicios/Codigos chidoris/GUIs/1_AdivinaNumero/GUINumeroAleatorio/nbproject/private/
/Ejercicios/Codigos chidoris/GUIs/2_Empleados/build/
/Ejercicios/Codigos chidoris/GUIs/2_Empleados/nbproject/private/
/Ejercicios/Codigos chidoris/GUIs/3_MatriculaEstudiantes/build/
/Ejercicios/Codigos chidoris/GUIs/3_MatriculaEstudiantes/nbproject/private/
/Ejercicios/Codigos chidoris/constructores/nbproject/private/
/Ejercicios/Codigos chidoris/Ejercicio1/nbproject/private/
/Ejercicios/Codigos chidoris/constructores/build/
/Ejercicios/Codigos chidoris/Ejercicio3/nbproject/private/
/Ejercicios/Codigos chidoris/Ejercicio4/nbproject/private/
/Ejercicios/Codigos chidoris/Ejercicio5/nbproject/private/
/Ejercicios/Codigos chidoris/Ejercicio6/nbproject/private/
/Ejercicios/Codigos chidoris/farenheit-Celsius/nbproject/private/
/Ejercicios/Codigos chidoris/farenheit-Celsius/build/
/Ejercicios/Codigos chidoris/1_Farenheit-Celsius/nbproject/private/
/Ejercicios/Codigos chidoris/PregutarEdadCOnstantemente/nbproject/private/
/Ejercicios/Codigos chidoris/podemosSalir-OperadoreseIfs/nbproject/private/
/Ejercicios/Codigos chidoris/paroImpar/nbproject/private/
/Ejercicios/Codigos chidoris/paroImpar/build/
/Ejercicios/Codigos chidoris/2_ParoImpar/nbproject/private/
/Ejercicios/Codigos chidoris/podemosSalir-OperadoreseIfs/build/
/Ejercicios/Codigos chidoris/3_podemosSalir/nbproject/private/
/Ejercicios/Codigos chidoris/PregutarEdadCOnstantemente/build/
/Ejercicios/Codigos chidoris/4_MayorEdad/build/
/Ejercicios/Codigos chidoris/4_MayorEdad/nbproject/private/
/Ejercicios/Codigos chidoris/saludoPersonal/nbproject/private/
/Ejercicios/Codigos chidoris/saludoPersonal/build/
/Ejercicios/Codigos chidoris/Test/nbproject/private/
/Ejercicios/Codigos chidoris/5_saludoPersonal/nbproject/private/
/Ejercicios/Codigos chidoris/Test10/nbproject/private/
/Ejercicios/Codigos chidoris/JavaApp01/nbproject/private/
/Ejercicios/Codigos chidoris/menuLetras_Numeros_Switch/nbproject/private/
/Ejercicios/Codigos chidoris/menuLetras_Numeros_Switch/build/
/Ejercicios/Codigos chidoris/6_menuLetrasNumeros_Switch/nbproject/private/
/Ejercicios/Codigos chidoris/Principal/nbproject/private/
/Ejercicios/Codigos chidoris/Progrma/nbproject/private/
/Ejercicios/Codigos chidoris/Prueba2/nbproject/private/
/Ejercicios/Codigos chidoris/Test2/nbproject/private/
/Ejercicios/Codigos chidoris/Test3/nbproject/private/
/Ejercicios/Codigos chidoris/ListaEstudiantes/nbproject/private/
/Ejercicios/Codigos chidoris/CorreccionExamen/nbproject/private/
/Ejercicios/Codigos chidoris/Algoritmos/Ordenamiento_Insercion/nbproject/private/
/Ejercicios/Codigos chidoris/Algoritmos/Ordenamiento_Seleccion/nbproject/private/
/Ejercicios/Codigos chidoris/Algoritmos/Proyecto_Algoritmos/nbproject/private/
/Ejercicios/Codigos chidoris/Algoritmos/Ordenamiento_HeapSort/nbproject/private/
/Ejercicios/Codigos chidoris/GUIs/GUIEjercicio4/nbproject/private/
/Ejercicios/Codigos chidoris/GUIs/Proyecto_Final/build/
/Ejercicios/Codigos chidoris/GUIs/Proyecto_Final/dist/
/Ejercicios/Codigos chidoris/GUIs/Proyecto_Final/nbproject/private/
/Ejercicios/Codigos chidoris/POO/ColeccionMusica/nbproject/private/
/Ejercicios/Codigos chidoris/POO/ColeccionMusica/build/
/Ejercicios/Codigos chidoris/POO/Principal/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Principal/build/
/Ejercicios/Codigos chidoris/POO/2_ColeccionMusica/build/
/Ejercicios/Codigos chidoris/POO/2_ColeccionMusica/nbproject/private/
/Ejercicios/Codigos chidoris/POO/1_ColeccionMusica/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Estudiante/build/
/Ejercicios/Codigos chidoris/POO/Estudiante/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Computadora/build/
/Ejercicios/Codigos chidoris/POO/Computadora/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Persona/build/
/Ejercicios/Codigos chidoris/POO/Persona/nbproject/private/
/Ejercicios/Codigos chidoris/POO/1_ColeccionMusica/build/
/Ejercicios/Codigos chidoris/POO/ColeccionMusica2/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Test2/build/
/Ejercicios/Codigos chidoris/POO/Test2/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Profesores/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Test3/build/
/Ejercicios/Codigos chidoris/POO/Test3/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Conyuge/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Test4/build/
/Ejercicios/Codigos chidoris/POO/Test4/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Test5/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Transporte/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Test5/build/
/Ejercicios/Codigos chidoris/POO/Test10/build/
/Ejercicios/Codigos chidoris/POO/Test10/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Matriculas/nbproject/private/
/Ejercicios/Codigos chidoris/POO/TestLast/build/
/Ejercicios/Codigos chidoris/POO/TestLast/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Inscripciones/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Tienda/build/
/Ejercicios/Codigos chidoris/POO/Tienda/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Prueba/build/
/Ejercicios/Codigos chidoris/POO/Prueba/nbproject/private/
/Ejercicios/Codigos chidoris/POO/Prueba2/build/
/Ejercicios/Codigos chidoris/POO/Prueba2/nbproject/private/
/Ejercicios/Codigos chidoris/POO/CorreccionExamen/nbproject/private/
/Ejercicios/Codigos chidoris/POO/CorreccionExamen/build/
/Ejercicios/EPN/C1/nbproject/private/
/Ejercicios/EPN/C1/build/
/Ejercicios/EPN/C2/nbproject/private/
/Ejercicios/EPN/C2/build/
/Ejercicios/EPN/C3/nbproject/private/
/Ejercicios/EPN/C3/build/
/Ejercicios/EPN/C4/nbproject/private/
/Ejercicios/EPN/C4/build/
/Ejercicios/EPN/C5/nbproject/private/
/Ejercicios/EPN/C6/nbproject/private/
/Ejercicios/EPN/C7/nbproject/private/
/Ejercicios/EPN/C5/build/
/Ejercicios/EPN/C6/build/
/Ejercicios/EPN/C7/build/
/Ejercicios/EPN/C8/nbproject/private/
/Ejercicios/EPN/C9/nbproject/private/
/Ejercicios/EPN/C10/nbproject/private/
/Ejercicios/EPN/C8/build/
/Ejercicios/EPN/C9/build/
/Ejercicios/EPN/C10/build/
/Ejercicios/EPN/C11/nbproject/private/
/Ejercicios/EPN/C12/nbproject/private/
/Ejercicios/EPN/C12/build/
/Ejercicios/EPN/C13/nbproject/private/
/Ejercicios/EPN/C13/build/
/Ejercicios/EPN/C14/nbproject/private/
/Ejercicios/EPN/C14/build/
/Ejercicios/EPN/C15/nbproject/private/
/Ejercicios/EPN/C15/build/
/Ejercicios/Laboratorios_EPN/Lab1/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab1/build/
/Ejercicios/Laboratorios_EPN/Lab2/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab2/build/
/Ejercicios/Laboratorios_EPN/Lab3/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab3/build/
/Ejercicios/Laboratorios_EPN/Lab4/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab4/build/
/Ejercicios/Laboratorios_EPN/Lab5/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab5/build/
/Ejercicios/Laboratorios_EPN/Lab6/nbproject/private/
/Ejercicios/Laboratorios_EPN/Lab7/nbproject/private/
/Ejercicios/CodigosChidoris/1_Farenheit-Celsius/nbproject/private/
/Ejercicios/CodigosChidoris/2_ParoImpar/nbproject/private/
/Ejercicios/CodigosChidoris/3_podemosSalir/nbproject/private/
/Ejercicios/CodigosChidoris/4_MayorEdad/build/
/Ejercicios/CodigosChidoris/4_MayorEdad/nbproject/private/
/Ejercicios/CodigosChidoris/5_saludoPersonal/nbproject/private/
/Ejercicios/CodigosChidoris/6_menuLetrasNumeros_Switch/nbproject/private/
/Ejercicios/CodigosChidoris/Algoritmos/Ordenamiento_HeapSort/nbproject/private/
/Ejercicios/CodigosChidoris/Algoritmos/Ordenamiento_Insercion/nbproject/private/
/Ejercicios/CodigosChidoris/Algoritmos/Ordenamiento_Seleccion/nbproject/private/
/Ejercicios/CodigosChidoris/Algoritmos/Proyecto_Algoritmos/nbproject/private/
/Ejercicios/CodigosChidoris/GUIs/1_AdivinaNumero/GUINumeroAleatorio/build/
/Ejercicios/CodigosChidoris/GUIs/1_AdivinaNumero/GUINumeroAleatorio/nbproject/private/
/Ejercicios/CodigosChidoris/GUIs/2_Empleados/build/
/Ejercicios/CodigosChidoris/GUIs/2_Empleados/nbproject/private/
/Ejercicios/CodigosChidoris/GUIs/3_MatriculaEstudiantes/build/
/Ejercicios/CodigosChidoris/GUIs/3_MatriculaEstudiantes/nbproject/private/
/Ejercicios/CodigosChidoris/GUIs/Proyecto_Final/build/
/Ejercicios/CodigosChidoris/GUIs/Proyecto_Final/dist/
/Ejercicios/CodigosChidoris/GUIs/Proyecto_Final/nbproject/private/
/Ejercicios/CodigosChidoris/POO/ColeccionMusica/nbproject/private/
/Ejercicios/CodigosChidoris/POO/ColeccionMusica2/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Computadora/build/
/Ejercicios/CodigosChidoris/POO/Computadora/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Conyuge/nbproject/private/
/Ejercicios/CodigosChidoris/POO/CorreccionExamen/build/
/Ejercicios/CodigosChidoris/POO/CorreccionExamen/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Estudiante/build/
/Ejercicios/CodigosChidoris/POO/Estudiante/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Inscripciones/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Matriculas/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Persona/build/
/Ejercicios/CodigosChidoris/POO/Persona/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Profesores/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Prueba/build/
/Ejercicios/CodigosChidoris/POO/Prueba/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Prueba2/build/
/Ejercicios/CodigosChidoris/POO/Prueba2/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Tienda/build/
/Ejercicios/CodigosChidoris/POO/Tienda/nbproject/private/
/Ejercicios/CodigosChidoris/POO/Transporte/nbproject/private/
/Ejercicios/CodigosChidoris/8_figuras/Figuras/nbproject/private/
/Ejercicios/CodigosChidoris/8_figuras/Figuras/build/
/Ejercicios/PruebasEPN/Prueba1/nbproject/private/
/Ejercicios/PruebasEPN/Prueba1/build/
/Ejercicios/PruebasEPN/Prueba2/nbproject/private/
/Ejercicios/PruebasEPN/Prueba2/build/
/Ejercicios/PruebasEPN/Prueba3/nbproject/private/
/Ejercicios/PruebasEPN/Prueba3/build/
/Programas/EPN/C16/nbproject/private/